main {
  padding: 10px;
  display: block;
}

.search-bar {
  width: 100%;
}

.table-wrapper {
  height: 70vh;
  overflow: auto;
  overscroll-behavior: contain;
  box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.5);
}
