:host {
  display: block;
  min-height: 100%;
}

$search-bar-height: 78px;
.search-bar {
  margin: 10px;
  display: flex;
  height: $search-bar-height;

  .input {
    width: 100%;
  }
}

app-books {
  margin: 10px;

  $tab-label-height: 48px;
  height: calc(100dvh - $tab-label-height - $search-bar-height);
  overflow: auto;
  //overscroll-behavior: contain;
}
