<mat-tab-group>
  <mat-tab label="Books">
    <div class="search-bar">
      <mat-form-field class="input">
        <mat-label>Search</mat-label>
        <input
          ngModel
          (ngModelChange)="query$.next($event)"
          matInput
          placeholder="e.g. Faust"
        />
      </mat-form-field>
    </div>

    <app-books (purchase)="onPurchase($event)" [books$]="books$"></app-books>
  </mat-tab>

  <mat-tab label="Purchases">
    <app-purchases [purchases]="purchases"></app-purchases>
  </mat-tab>
</mat-tab-group>
