<div class="books" *ngIf="books$ | async as books; else loadingSpinner">
  <div class="no-data" *ngIf="!books.length">
    <mat-icon fontIcon="sentiment_dissatisfied"></mat-icon>

    <p>No books found</p>
  </div>
  <mat-card *ngFor="let book of books">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="data:image/png;base64, {{ book.cover_picture }}"
        />
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <div class="badge">
        <b>ID: </b>
        <span>{{ book.id }}</span>
      </div>

      <div class="badge">
        <b>ISBN: </b>
        <span>{{ book.isbn }}</span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="onBuy(book)" mat-button color="primary">Buy</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loadingSpinner>
  <mat-spinner></mat-spinner>
</ng-template>

<mat-paginator
  *ngIf="!hidePagination"
  [length]="totalBookCount"
  [pageSize]="15"
  (page)="page.emit($event.pageIndex)"
  aria-label="Select Page"
></mat-paginator>
